binutils/
gcc/
peachOS/bin/*
!peachOS/bin/.keep
peachOS/build/*
!peachOS/build/.keep
peachOS/build/disk/*
!peachOS/build/disk/.keep
peachOS/build/idt/*
!peachOS/build/idt/.keep
peachOS/build/io/*
!peachOS/build/io/.keep
peachOS/build/memory/*
!peachOS/build/memory/.keep
peachOS/build/heap/*
!peachOS/build/heap/.keep
peachOS/build/paging/*
!peachOS/build/paging/.keep
